@import "sidebar";
@import "header";
@import "main";
@import "utilities";

@font-face {
	font-family: AftaSans;
	src: url("../fonts/aftasans.otf") format("opentype");
}

body{
	font-family: AftaSans, sans-serif;
}