.u-displayTable {
	display: table;
}

.u-displayTableRow {
	display: table-row;
}

.u-displayTableCell {
	display: table-cell;
}

.u-verticalAlignMiddle{
	vertical-align: middle;
}

.u-paddingLeftBig{
	padding-left: 40px;
}