.Sidebar {
  float: left;
  width: 20%;
  height: 100vh;
  background-color: #2C333F;
  color: #7A8998; }
  .Sidebar__header {
    height: 15vh;
    width: 100%;
    padding: 15px 0px 0px 65px; }
    .Sidebar__header--big {
      font-weight: bold;
      font-size: 30px;
      display: inline-block;
      margin-left: 5px; }
    .Sidebar__header--small {
      font-size: 14px;
      display: inline-block; }
  .Sidebar .menuSection {
    margin-top: 30px;
    margin-left: 40px;
    text-transform: uppercase;
    color: #555C6A;
    font-weight: bold; }
  .Sidebar .menuItem {
    margin-top: 15px;
    text-transform: none; }
    .Sidebar .menuItem a:link, .Sidebar .menuItem a:visited {
      color: #6E7C8A;
      text-decoration: none; }
    .Sidebar .menuItem a:hover {
      text-decoration: none;
      color: #a6afb8;
      cursor: pointer; }

.Header {
  width: 80%;
  height: 15vh; }
  .Header__container__dashBoardSection {
    width: 50%;
    margin-left: 15%; }
    .Header__container__dashBoardSection .dashBoard {
      color: #727B85;
      display: block; }
      .Header__container__dashBoardSection .dashBoard--big {
        font-size: 30px; }
      .Header__container__dashBoardSection .dashBoard--small {
        font-size: 14px; }
  .Header__container__welcomeSection {
    width: 10%; }
  .Header__container__langSection {
    width: 15%;
    min-width: 116px;
    padding: 0 2%; }
    .Header__container__langSection .form-control:focus {
      box-shadow: none; }
  .Header__container__signSection {
    padding-left: 5%; }
    .Header__container__signSection .btn {
      padding: 10px 25px;
      color: #727B85; }

.Main {
  background-color: #F1F1F3;
  height: 85vh;
  width: 80%;
  display: inline-block; }

.TableSectionWrapper {
  width: 90%;
  margin: 40px auto;
  background-color: #fff; }
  .TableSectionWrapper__tableHeader {
    font-size: 20px;
    background-color: #84919F;
    color: #fff; }

.table {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .table thead tr th {
    border-bottom-color: black;
    padding: 20px 0px; }

.u-displayTable {
  display: table; }

.u-displayTableRow {
  display: table-row; }

.u-displayTableCell {
  display: table-cell; }

.u-verticalAlignMiddle {
  vertical-align: middle; }

.u-paddingLeftBig {
  padding-left: 40px; }

@font-face {
  font-family: AftaSans;
  src: url("../fonts/aftasans.otf") format("opentype"); }

body {
  font-family: AftaSans, sans-serif; }
